body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    margin: 20px auto;
    background-image: radial-gradient(white 60%,aqua);
    padding: 30px;
    border:7px solid rgb(252, 235, 0) ;
    border-radius: 15px;
    width: 85%;
    box-shadow: 5px 10px 30px 10px #ff46b8;
    justify-content: space-between;
}
.main-1{
    width:30%;
    height:500px;
    border:7px solid black;
    background-image: radial-gradient(white,rgb(82, 236, 82));
    border-radius: 15px;
    padding:10px;
    text-align:center;
    overflow:auto;
    column-count:3;
    column-rule:3px solid red;
    flex-wrap: wrap;

}
.main-1 mark{
    background-color: red;
}
.main-2{
    width:60%;
    height:500px;
    border:7px solid rgb(1, 20, 196);
    background-image: radial-gradient(white 60%,rgb(14, 228, 224));
    border-radius: 15px;
    overflow:auto;
}
.imgs{
    text-align: center;
}
.imgs img{
    margin: 20px 20px;
    width: 120px;
    height: 120px;
    box-shadow: 2px 3px 10px 5px #ff46b8;
    border:2px solid rgb(21, 0, 255) ;
}

 .main:hover{
    box-shadow: 5px 10px 30px 10px #70d9ff;
    transform:skewX(10deg);
    transition:all 2s ease-in-out;
} 
.imgs img:hover{
    box-shadow: 2px 3px 10px 5px #e5ff21;
    transform: scale(1.5);
    border: thick double #0022ff;
    transition:all 2s ease-in-out;
}
.main-1:hover{
    text-decoration: underline;
}
.main-1 mark:hover{
    background-image: linear-gradient(to bottom,rgb(254, 76, 17) ,rgb(246, 246, 24) );
    transition:all 2s ease-in-out;
}
.main:active{
    transform: scale(.75);
    box-shadow:15px 10px 20px rgb(255, 1, 1) , -15px -10px 20px  rgb(255, 251, 0);
}
.imgs img:active{
    transform: scale(3);
    box-shadow:7px 5px 20px rgb(255, 1, 1);
    border: none;
    
}

.main-1 mark:active{
    background-color: rgb(14, 202, 231);
}




@media all and (orientation:portrait) {
    .main{
        width: 75%;
    }
    .main:hover{
        transform:skewX(0deg);
        box-shadow: 5px 10px 30px 10px #ff46b8;
    }
   .main-1{
    margin-right: 20px;
    border: thick double #ff00dd;
    column-rule: none;
    column-gap: 40px;
    column-width: 20px;

   }
    .main-1 mark{
        background-color: blue;

    }
    .imgs img{
        box-shadow: 2px 3px 10px 5px #0738ea;
    border:2px solid rgb(21, 0, 255) ;
    transform: rotate(30deg);
    }
    .imgs img:hover{
        
        transform: rotate(0deg);
        border: thick double #0022ff;
        box-shadow: 2px 3px 10px 5px #b5ea07;
    }
    .imgs img:hover{
        transform:scale(1.4);
    }
    .imgs img:active{
        border:4px dashed rgb(21, 0, 255) ;
        box-shadow: 2px 3px 14px 5px #ff0707;


    }
   
}









